html {
    height: 100vh;
}

body {
    background-color: #F0F4F7;
    height: 100vh;
    color: #5C6165;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

h2 {
	font-size: 22px;
}

#container {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 100%;  
}

#content {
    width: 700px;
    background-color: white;
    text-align: center;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px grey;
    -moz-box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 0 0 10px grey;
    -o-box-shadow: 0 0 10px grey;
}

h2 {
	display: flex;
  	justify-content: center;
  	margin: 15px;
}

table {
	width: 100%;
  	margin: 35px 0px 35px 0px;
  	text-align: center;
}

tbody {
	width: 100%;
}

tr {
	width: 100%;
}

th {
	height: 30px;
}


.buttonNew {
	width: 200px;
	height: 30px;
	color: white;
    background-color: #5C6165;
    border-color: #5C6165;
    margin: 15px;
    line-height: 19px;
    border-radius: 5px;
    border-style: none;
    border-color: #545559;
    padding: 6px 12px 6px 12px;
}

button:focus {
    outline: 0;
}


.foodlist-table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

.food-list-tr:hover .td-left {
    background-color: #f2f2f2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.food-list-tr:hover .td-center {
    background-color: #f2f2f2;
}

.food-list-tr:hover .td-right {
    background-color: #f2f2f2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.td-left {
    padding-left: 5px;
    padding-bottom: 3px;
    background-color: #fafafa;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.td-center {
    background-color: #fafafa;
}

.td-right {
    background-color: #fafafa;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

a {
    color: lightgrey;
}

a:hover {
    color: grey;
}

.material-icons {
    position: relative;
    top: 2px;
    left: 6px;
}

